body, html, #wrapper {
  width: 100%;
  height: 100%;
  font-family: verdana;
  color:#336699;
}

#wrapper {
  display: table;
}

#main {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}